<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
	appId: '1GR4KA4LCD',
	apiKey: 'a1a3865e60e2c15c6e45b21225c7e3b6',
	siteId: '56e0835b-7349-4dac-a913-51f62da535f9',
	branch: 'main',
	selector: 'div#search',
  });
</script>









<script src="https://kit.fontawesome.com/96d943cb0f.js" crossorigin="anonymous"></script>
